body {
    background-color: #1a1a1a;
    color: #f0f0f0;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

svg {
    overflow: visible;
}